<template>
  <v-container fluid>
    <v-slide-y-transition mode="out-in">
      <v-layout align-center>
        <router-view />
      </v-layout>
    </v-slide-y-transition>
  </v-container>
</template>

<script lang="ts">
import { Component, Prop, Vue } from 'vue-property-decorator'

@Component({})
export default class AppContainer extends Vue {
}
</script>
