<template>
  <v-form v-on:submit.prevent ref="form" lazy-validation v-model="valid">
    <v-card>
      <v-toolbar dark color="primary">
        <v-btn icon dark @click="close()">
          <v-icon>close</v-icon>
        </v-btn>
        <v-toolbar-title>{{formTitle}}</v-toolbar-title>
        <v-spacer></v-spacer>
        <v-toolbar-items>
          <v-btn dark flat @click="save()">Save</v-btn>
        </v-toolbar-items>
      </v-toolbar>
      <v-card-text>
        <v-alert :value="error" type="error">{{error}}</v-alert>
        <v-text-field
          v-model="item.firstname"
          v-validate="'required'"
          :error-messages="errors.collect('firstname')"
          :label="$t('employee.fields.firstname')"
          data-vv-name="firstname"
          data-vv-as="$t('employee.fields.firstname')"
          :placeholder="$t('employee.fields.firstname')"
          required
          @input="$validator.validate('firstname')"
          @blur="$validator.validate('firstname')"
          ref="first"
        ></v-text-field>
        <v-text-field
          v-model="item.lastname"
          v-validate="'required'"
          :error-messages="errors.collect('lastname')"
          :label="$t('employee.fields.lastname')"
          data-vv-name="lastname"
          data-vv-as="'Uzvārds'"
          :placeholder="$t('employee.fields.lastname')"
          required
          @input="$validator.validate('lastname')"
          @blur="$validator.validate('lastname')"
        ></v-text-field>
        <v-text-field
          v-model="item.description"
          :label="$t('employee.fields.description')"
          :placeholder="$t('employee.fields.description')"
        ></v-text-field>
      </v-card-text>
    </v-card>
  </v-form>
</template>

<script lang="ts">
import { Component, Prop, Vue, Model, Emit } from 'vue-property-decorator'
import { Employee } from '../store/modules/employee.model'
import employee from '../store/modules/employee.module'
import VeeValidate from 'vee-validate'

@Component({})
export default class EmployeeForm extends Vue {
  private valid = false

  get formTitle() {
    return this.item.id ? 'Labot ierakstu' : 'Jauns ieraksts'
  }

  // get dirty() {
  //   return this.$validator.fields.items.some(field => field.flags.dirty)
  // }

  get form(): any {
    return this.$refs.form as any
  }

  get item(): Employee {
    return employee.editedItem
  }

  get error(): string {
    return employee.error
  }

  private async save() {
    await employee.saveItem()
    if (!this.error) {
      this.close()
    }
  }

  @Emit('close')
  private close() {
    employee.cleanEditItem()
    this.$validator.reset()
  }
}
</script>
