<template>
  <v-layout>
    <v-flex xs12 sm6 offset-sm3>
      <v-card>
        <v-card-media
          src="https://cdn.vuetifyjs.com/images/cards/desert.jpg"
          height="200px"
        ></v-card-media>

        <v-card-title primary-title>
          <div>
            <h3 class="headline mb-0">Vue Demo App</h3>
            <div>
              {{ $t('about.message') }}
            </div>
          </div>
        </v-card-title>

        <v-card-actions>
          <v-btn flat href="https://gitlab.com/gintsgints/vue-fullstack" color="green">{{ $t('about.button') }}</v-btn>
        </v-card-actions>
      </v-card>
    </v-flex>
  </v-layout>
</template>