<template>
  <v-card>
    <v-card-title class="headline grey lighten-2" primary-title>Access Forbidden</v-card-title>
    <v-card-text>You do not have enough rights to access this resource.</v-card-text>
  </v-card>
</template>
