<template>
  <div>
    <EmployeeList/>
  </div>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator'
const EmployeeList = () => import('../components/EmployeeList.vue')

@Component({
  components: {
    EmployeeList
  }
})
export default class Employee extends Vue {}
</script>
